
.flex-item{
    width: 50px;
    height: 50px;
    border-radius: 25%;}

.verde{background-color: green;}
.vermelho{background-color: red;}
.amarelo{background-color: yellow;}

.flex-container1{
    display:flex;
    height:10vh;
    background-color: black;
    text-align: center;
    font-size: 15px;
    color: aquamarine;}

    .flex-container1 .verde1{
        display: flex;
        order:1;
    }
    .flex-container1 .verde2{
        display: flex;
        order:2;
    }
    .flex-container1 .verde3{
        display: flex;
        order:3;
    }
    .flex-container1 .verde4{
        display: flex;
        order:5;
    }
    .flex-container1 .vermelho{
        display: flex;
        order: 4;
    }

    .flex-container2{
        display:flex;
        height:10vh;
        background-color: black;}
    
    .flex-container2 .vermelho{
        order: -1;
    }

    
    .flex-container3{
        display:flex;
        height:10vh;
        background-color: black;}

    .flex-container3 .verde1{order: 1;}
    
    .flex-container3 .verde2{order: 2;}
    

            
    .flex-container4{
        display:flex;
        flex-direction: row;
        height:15vh;
        background-color: black;}

    .flex-container4 .verde1{order: 1;}
    .flex-container4 .verde2{order: 2;}
    .flex-container4 .verde3{order: 4;}
    .flex-container4 .verde4{order: 5;}

    .flex-container4 .amarelo{
        order: 3;
        align-self: flex-end;
    }
        
    .flex-container5{
        display:flex;
        height:15vh;
        width: auto;
        background-color: black;}

    .flex-container5 .amarelo{
        align-self: flex-end;
    }


    .flex-container6{
        height:15vh;
        display: flex;
        width: auto;
        background-color: black;}

    .flex-container6 .verde5{
        align-self: flex-end;
    }
    .flex-container6 .vermelho{
        align-self: flex-end;
        align-items: baseline;
    }

    .flex-container7{
        display: flex;
        height:40vh;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        background-color: black;
    }

    .flex-container8{
        display: flex;
        height:20vh;
        width: 35vh;
        flex-wrap: wrap;
        background-color: black;
    }
    .flex-container9{
        display: flex;
        height:30vh;
        width: 40vh;
        flex-wrap: wrap;
        background-color: black;
        align-content: flex-end;
    }


    .flex-container10{
        display:flex;
        height:40vh;
        flex-wrap: wrap;
        background-color: black;
        flex-direction: column-reverse;
        align-content:center;
    }

    .flex-container11{
        display: flex;
        height:40vh;
        background-color: black;
    }
    .amarelo1{
        align-self: center;
        order:-1;
    }
    .verde99{

    }